<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{1603,528}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{1603,528}}</string>
                <key>sourceSize</key>
                <string>{1611,540}</string>
            </dict>
            <key>Background_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{1547,528}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1547,528}}</string>
                <key>sourceSize</key>
                <string>{1553,540}</string>
            </dict>
            <key>Background_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1680,532}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1680,532}}</string>
                <key>sourceSize</key>
                <string>{1680,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff2bd49b6051533d980ab8bf1849d58$</string>
            <key>textureFileName</key>
            <string>background2.png</string>
        </dict>
    </dict>
</plist>
