<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{404,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,246}}</string>
                <key>sourceSize</key>
                <string>{404,246}</string>
            </dict>
            <key>ui_font_07_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,820},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_font_07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,820},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_font_07_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{485,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,278}}</string>
                <key>sourceSize</key>
                <string>{485,278}</string>
            </dict>
            <key>ui_font_07_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,820},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_font_07_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_font_07_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,591},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_font_07_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{196,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,43}}</string>
                <key>sourceSize</key>
                <string>{196,43}</string>
            </dict>
            <key>ui_game_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{242,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,59}}</string>
                <key>sourceSize</key>
                <string>{244,61}</string>
            </dict>
            <key>ui_game_n_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,531},{138,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{138,37}</string>
            </dict>
            <key>ui_game_n_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,530},{148,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{156,46}</string>
            </dict>
            <key>ui_game_n_06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,671},{147,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,41}}</string>
                <key>sourceSize</key>
                <string>{147,41}</string>
            </dict>
            <key>ui_game_n_06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,574},{147,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,41}}</string>
                <key>sourceSize</key>
                <string>{147,41}</string>
            </dict>
            <key>ui_game_n_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,282},{59,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,96}}</string>
                <key>sourceSize</key>
                <string>{59,96}</string>
            </dict>
            <key>ui_game_n_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,603},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>ui_game_n_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,531},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>ui_game_n_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,426},{78,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>ui_game_n_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,343},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:673caa9bbb4ca71dac80fdf979970dd2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
